* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Podstawowy styl body */
  body {
    font-family: Calibri, sans-serif;
    background-color: #fff;
    color: #333;
    overflow-x: hidden;
    width: 100%;
    
  }
  
  /* --------------------------------------------------
  HEADER 
  -------------------------------------------------- */
  .header-with-logo {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #243751;
  }
  
  .logo-container {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 14px;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 80%;
    max-height: 100px;
    width: 20vw;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
  }
  
  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
  }
  
  .top-bar-content {
    padding: 0 44px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .login-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
  }
  
  /* WYBÓR JĘZYKA (desktop) */
  .language-switch {
    position: relative;
    z-index: 9;
  }
  
  .lang-btn {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
  }
  
  .lang-btn:hover {
    background-color: #1a2a45;
  }
  
  .flag {
    width: 24px;
    height: auto;
    margin-right: 6px;
  }
  
  .language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #243751;
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  
  .language-dropdown.show {
    display: block;
  }
  
  .language-dropdown li {
    display: flex;
    align-items: center;
    padding: 4px 8px;
  }
  
  .language-dropdown li img.flag {
    margin-right: 4px;
    width: 20px;
    height: auto;
  }
  
  .language-dropdown li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .language-dropdown li.current-language {
    background-color: #1a2a45;
  }
  
  .language-dropdown li:hover {
    background-color: #2c3e50;
  }
  
  .language-dropdown li.current-language:hover {
    background-color: #1a2a45;
  }
  
  /* MENU DESKTOP */
  .main-menu {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 25px;
    font-size: 1vw;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
    transition: color 0.3s ease, font-weight 0.3s ease;
    transition: border-color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #9b9b9b;
    border: 1px #ffffff solid;
    padding: 5px;
  }
  
  /* przycisk menu mobilnego */
  .menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 8px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
  }
  
  .hamburger-bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  /* MENU MOBILNE */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #243751;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 15;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px; 
  }
  
  .mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .mobile-menu ul li {
    margin: 20px 0;
  }
  
  .mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .mobile-menu.open {
    transform: translateX(0);
  }
  
  /* Wybór języka (mobile) */
  .language-switch-mobile {
    position: relative;
    display: inline-block;
  }
  
  .language-switch-mobile .language-dropdown {
    left: auto;
    right: 0;
    margin-top: 10px;
  }
  
  
  
  /* --------------------------------------------------
  STOPKA
  -------------------------------------------------- */
  footer {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    background-color: #243751;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container.search-bar-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 80px;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .footer-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 80px;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    text-align: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    max-width: 300px;
    border-bottom: 2px solid #fff;
    padding-bottom: 8px;
    margin: 0 auto;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    outline: none;
  }
  
  .search-bar input::placeholder {
    color: #aaa;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button img {
    width: 24px;
    height: auto;
  }
  
  .footer-links a {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .footer-links a:hover {
    color: #9b9b9b;
  }
  
  .payment-title,
  .social-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .payment-options {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .payment-options a img {
    width: 50px;
    height: auto;
  }
  
  .social-media a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
  }
  
  .social-media a img {
    width: 24px;
    height: auto;
    margin-right: 15px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
  }
  
  .footer-bottom a img {
    margin-top: 10px;
    width: 100px;
    height: auto;
  }
  
  .footer-logo {
    background-color: #fff;
    text-align: left;
    padding: 20px;
  }
  .footer-logo img {
    max-width: 25%;
  }
    
  /* ---------------------------------------
  MEDIA QUERIES - WYGLĄD TABLET
  --------------------------------------- */
  
  @media (max-width: 1200px) and (min-width: 761px){
    .header-with-logo {
        height: auto;
        padding: 10px 0;
    }
    .logo-container {
        position: static;
        margin-left: 10px;
    }
    .logo-container img {
        max-height: 70px;
    }
    .top-bar {
        display: none;
    }
    .main-menu {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .logo-container img {
        width: auto;
    }
  
    .footer-bottom {
      font-size: 15px;
    }
    
  }

/* ---------------------------------------
   MAIN
---------------------------------------- */

.main-title {
    font-size: 2rem;
    color: #243751;
    text-align: center;
    margin: 40px 0 20px;
  }
  
  .main-description {
    font-size: 1.2rem;
    color: #243751;
    padding: 20px;
  }
  
  .type-heading {
    font-size: 1.5rem;
    color: #243751;
    margin: 20px 0 20px;
    padding: 20px;
  }
  
  /* ---------------------------------------
     KARUZELA
     - .carousel-container -> overflow: hidden
     - .carousel-track -> szeroki „tor” z animacją
     - .option -> kafelek
  ---------------------------------------- */
  
  /* Kontener karuzeli */
  .carousel-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: hidden;
  }
  
  /* Tor karuzeli (animowany) */
  .carousel-track {
    display: inline-flex;
    animation: scrollCarousel 30s linear infinite;
  }
  
  /* Każdy kafelek (obraz + tytuł) */
  .option {
    min-width: 250px;
    max-width: 300px;
    background-color: #ffffff;
    border: 2px solid #243751;
    padding: 20px;
    text-align: center;
    margin-right: 20px;  
    box-sizing: border-box;
  }

  .option p{
    color:#243751;
  }
  
  .option:last-child {
    margin-right: 0;
  }
  
  /* Obraz w kafelku */
  .option img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #243751;
  }
  
  /* Tytuł w kafelku */
  .movie-title {
    color:#243751;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Animacja przesuwająca track o -50% (szerokość 1. serii) */
  @keyframes scrollCarousel {
    0% {
      transform: translateX(0); /* Start */
    }
    
    100% {
      transform: translateX(-50%); /* Znowu przesunięcie o 50% */
    }
  }
  
  
  /* ---------------------------------------
     Media Queries (responsywność)
  ---------------------------------------- */
  
  /* Ekrany max 768px */
  @media (max-width: 768px) {
    .option {
      min-width: 180px;
      margin-right: 15px; 
    }
  }
  
  /* Ekrany max 576px */
  @media (max-width: 576px) {
    .option {
      min-width: 150px;
      margin-right: 10px;
    }
  }
  
  /* ---------------------------------------
  MEDIA QUERIES - WYGLĄD MOBILE
  --------------------------------------- */
  @media (max-width: 760px) {
    .header-with-logo {
        height: auto;
        padding: 10px 0;
    }
    .logo-container {
        position: static;
        margin-left: 10px;
    }
    .logo-container img {
        max-height: 50px;
    }
    .top-bar {
        display: none;
    }
    .main-menu {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .logo-container img {
        width: auto;
    }
  
    .checkbox-container p
    {
      font-size: 17px;
      color: white;
    }
    .footer-bottom {
      font-size: 15px;
    }
    .footer-container,
    .footer-container.search-bar-row {
      flex-direction: column;
      align-items: center;
    }
    .footer-links a,
    .social-media a{
      font-size: 15px;
      margin-bottom: 0;
    }
    .social-media a img {
      width: 30px;
    }
    .payment-title {
      font-size: 25px;
      
    }
    .social-title {
      font-size: 25px;
    }
    
    .footer-column {
      margin-bottom: 20px;
    }
    .search-bar {
      max-width: 100%;
      
    }
    .checkbox-container {
      font-size: 20px;
      font-weight: bold;
    }
    .checkbox-container p{
      font-size: 10px;
    }
    .checkbox-container input {
      transform: scale(2);
      margin-left: 20px;
    }
  
    .lang-btn {
      font-size: 20px;
      padding: 10px 20px; /* przykładowe powiększenie paddingu */
    }
    
    #trip-type {
      height: 60px; /* Wysokość pola */
      line-height: 60px; /* Dopasowanie linii tekstu do wysokości */
      padding: 0; /* Usuń nadmiarowy padding */
      text-align: center; /* Horyzontalne wyśrodkowanie (opcjonalne) */
      font-size: 16px; /* Dopasowanie rozmiaru tekstu */
      -webkit-appearance: none; /* Usuwa domyślny styl strzałki */
      appearance: none;
    }
    #passengers {
      height: 60px; /* Wysokość pola */
      line-height: 60px; /* Dopasowanie linii tekstu do wysokości */
      padding: 0; /* Usuń nadmiarowy padding */
      text-align: center;
      font-size: 16px; /* Dopasowanie rozmiaru tekstu */
      -webkit-appearance: none; /* Usuwa domyślny styl strzałki */
      appearance: none;
    }
  
    .autocomplete-suggestions {
      
      width: 80%; /* Dopasowanie szerokości do inputa */
      max-height: 200px;
      
    }
    
    .autocomplete-suggestions div {
      
      font-size: 20px;
     
    }
    .full-width-departure
    {
      width: 80% !important;
      font-size: 40px !important;
    }
    .full-width-departure::placeholder {
      font-size: 40px !important;
    }
  }