/* ---------------------------------------
 USŁUGI
--------------------------------------- */
.service-section {
  padding: 20px;
  margin: 0 auto;
}

.service-title {
  font-size: 30px;
  color: #243751;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.service-layout {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.service-options {
  display: flex;
  flex-wrap: wrap;  
  gap: 20px;
  justify-content: center; 
  align-items: flex-start; 
}

.option {
width: 100%;
max-width: 300px;         
box-sizing: border-box;   
background-color: #ffffff;
border: 2px solid #243751;
padding: 20px;
margin: 0;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.option img {
width: 100%;
height: auto;           
object-fit: cover;       
margin-bottom: 20px;
border: 2px solid #243751;
}

.option .kinds {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.option .service-btn {
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #c00;
  cursor: pointer;
  height: 50px; 
  width: 100%; 
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 2px solid #243751;
  margin-bottom: 10px;
}

.option .service-btn:hover {
  background-color: #a00;
}


/* ---------------------------------------
 MEDIA QUERIES
--------------------------------------- */
@media (max-width: 992px) {
.service-options {
  gap: 20px;
  justify-content: center;
}
.option {
  width: calc(50% - 30px); 
  max-width: none;  
}
}

@media (max-width: 576px) {
.option {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
}
