/* ---------------------------------------
  UPGRADE
  --------------------------------------- */
.upgrade-title {
    font-size: 30px;
    color: #243751;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0; 
}
  
.upgrade-section {
    padding: 20px;
    margin: 0 auto;
}

.upgrade-layout {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 25px; 
    min-height: 400px; 
}

.upgrade-content {
    flex: 2; 
    text-align: left;
    display: flex;
    flex-direction: column;
}

.upgrade-content h1, .upgrade-content p {
    text-align: center;
}

.upgrade-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left:auto;
}

.upgrade-form h2 {
    font-size: 25px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Dodaje wielokropek */
    margin: 10px 0; 
}

.upgrade-form input {
    padding: 10px;
    font-size: 1rem;
    width: 50%; 
    text-align: center; 
}

.upgrade-form button {
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #c00;
    cursor: pointer;
    font-weight: bold;
    align-self: center; 
    transition: background-color 0.3s ease;
    border: 2px solid #243751;
}

.upgrade-form button:hover {
    background-color: #a00;
}

.upgrade-options {
    display: flex;
    flex: 3; 
    gap: 40px;
    justify-content: center; 
    align-items: center; 
}

.option {
    flex: 1;
    max-width: 350px;
    background-color: #f5f5f5;
    border: 2px solid #243751;
    padding: 20px;
    text-align: center;
}

.option img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #243751;
}

.option .kinds {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* Responsywność dla urządzeń o szerokości mniejszej niż 768px */
@media (max-width: 768px) {
    .upgrade-layout {
        flex-direction: column; 
        gap: 20px;
        align-items: center; 
    }

    .upgrade-options {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 20px;
    }

    .option {
        max-width: 100%; 
        margin: 0 auto; 
    }

    .upgrade-form h2 {
        font-size: 1rem; 
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    .upgrade-layout {
        flex-direction: column; 
        gap: 20px;
        align-items: center; 
    }

    .upgrade-options {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .option {
        max-width: 100%;
        margin: 0 auto;
    }

    .upgrade-form h2 {
        font-size: 1rem; 
    }
}
  /* ---------------------------------------
  MEDIA QUERIES - WYGLĄD MOBILE
  --------------------------------------- */
  @media (max-width: 760px) {
    
    .upgrade-form h2 {
      font-size: 12px; 
    }
    .upgrade-form input {
    
      width: 70%; 
      
  }
  }
