/* Wyzerowanie marginesów/paddingów i box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Podstawowy styl body */
body {
  font-family: Calibri, sans-serif;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
  width: 100%;
}

/* --------------------------------------------------
HEADER 
-------------------------------------------------- */
.header-with-logo {
  position: relative;
  width: 100%;
  height: 110px;
  background-color: #243751;
}

.logo-container {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 14px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 80%;
  max-height: 100px;
  width: 20vw;
  object-fit: contain;
  display: block;
  margin-bottom: 10px;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.top-bar-content {
  padding: 0 44px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

/* WYBÓR JĘZYKA (desktop) */
.language-switch {
  position: relative;
  z-index: 9;
}

.lang-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
}

.lang-btn:hover {
  background-color: #1a2a45;
}

.flag {
  width: 24px;
  height: auto;
  margin-right: 6px;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #243751;
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.language-dropdown.show {
  display: block;
}

.language-dropdown li {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.language-dropdown li img.flag {
  margin-right: 4px;
  width: 20px;
  height: auto;
}

.language-dropdown li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.language-dropdown li.current-language {
  background-color: #1a2a45;
}

.language-dropdown li:hover {
  background-color: #2c3e50;
}

.language-dropdown li.current-language:hover {
  background-color: #1a2a45;
}

/* MENU DESKTOP */
.main-menu {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 25px;
  font-size: 1vw;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
  transition: color 0.3s ease, font-weight 0.3s ease;
  transition: border-color 0.3s ease;
}

.nav-links a:hover {
  color: #9b9b9b;
  border: 1px #ffffff solid;
  padding: 5px;
}

/* przycisk menu mobilnego */
.menu-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  margin: 8px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger-bar {
  display: block;
  width: 85px;
  height: 10px;
  margin: 15px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* MENU MOBILNE */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #243751;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 15;
  display: flex;
  /* Zmieniamy wyrównanie pionowe z center na flex-start, 
     dzięki czemu menu zacznie się od góry */
  align-items: flex-start;
  justify-content: center;
  padding-top: 150px; /* Dodajemy padding, aby zawartość nie przylegała do samej krawędzi */
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 40px 0;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}

.mobile-menu.open {
  transform: translateX(0);
}

/* Wybór języka (mobile) */
.language-switch-mobile {
  position: relative;
  display: inline-block;
}

.language-switch-mobile .language-dropdown {
  left: auto;
  right: 0;
  margin-top: 10px;
}



/* --------------------------------------------------
STOPKA
-------------------------------------------------- */
footer {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  background-color: #243751;
  color: #fff;
  padding: 40px 0;
}

.footer-container.search-bar-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 80px;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 80px;
  max-width: 1920px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 300px;
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  margin: 0 auto;
}

.search-bar input {
  flex: 1;
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: none;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar button img {
  width: 24px;
  height: auto;
}

.footer-links a {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #9b9b9b;
}

.payment-title,
.social-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.payment-options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.payment-options a img {
  width: 50px;
  height: auto;
}

.social-media a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
}

.social-media a img {
  width: 24px;
  height: auto;
  margin-right: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
}

.footer-bottom a img {
  margin-top: 10px;
  width: 100px;
  height: auto;
}

.footer-logo {
  background-color: #fff;
  text-align: left;
  padding: 20px;
}
.footer-logo img {
  max-width: 25%;
}

/* --------------------------------------------------
TŁO I FORMULARZ LOTÓW
-------------------------------------------------- */
.bg-section-border {
  position: relative; /* nadaje kontekst pozycjonowania */
  height: 899px; /* musisz jawnie zarezerwować miejsce */
}

.bg-section {
  position: absolute;
  left: 50%;
  width: 1792px;
  height: 899px;
  overflow: hidden;
  background: url("img/front.jpg") no-repeat center center;
  background-size: cover;
  transform: translateX(-50%);
}
.flight-container {
  position: relative;
  z-index: 2;
  width: 600px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid #222745;
  padding: 30px;
  padding-bottom: 2px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-70%, +135%);
}

.header-title {
  position: absolute;
  top: -25px;
  left: 30px;
  width: 248px;
  background-color: #fff;
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #222745;
  border: 3px solid #222745;
}

.flight-form {
  margin-top: 20px;
  
}

.row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  margin-right: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 250px;
}
.form-group3 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 247px;
}
.form-group2 {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-right: 0px;
}

.form-group input,
.form-group select,
.form-group2 input,
.form-group2 select,
.form-group3 input,
.form-group3 select{
  border: 3px solid #222745;
  border-radius: 0;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 45px;
  background-color: #fff;
  appearance: none;
}

.passenger-group {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.small-select {
  width: 45px;
  margin-left: 14px;
  border-radius: 0;
  border: 3px solid #222745;
  font-size: 14px;
  height: 45px;
  padding: 6px;
  appearance: none;
  text-align: center;
}

.date-pair {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-right: 20px;
}

.form-half {
  width: 123.5px;
  height: 45px;
  display: flex;
  flex-direction: column;
}

.form-half input {
  height: 45px;
  border: 3px solid #222745;
  border-radius: 0;
  padding: 6px;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}

.search-button {
  width: 100%;
  height: 45px;
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #900;
  border-radius: 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #a00;
}

select {
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23000000' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 10px center;
  background-size: 10px;
  padding-right: 30px;
  border: 3px solid #222745;
  font-size: 14px;
  height: 45px;
}

.small-select {
  appearance: none;
  background: #fff url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23000000' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 6px center;
  background-size: 10px;
  padding-right: 20px;
  border: 3px solid #222745;
  font-size: 14px;
  height: 45px;
}

.select::-ms-expand,
.small-select::-ms-expand {
  display: none;
}
/*
LINIA
*/
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line-left {
  flex-grow: 1; /* linia po lewej stronie */
  height: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #243751;
  margin-right: 10px; /* Odstęp między linią a tekstem */
}

.line-right {
  flex-grow: 3; /* linia po prawej stronie */
  height: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #243751;

  margin-left: 10px; /* Odstęp między tekstem a linią */
}

.text-linia {
  color: #243751;
  font-weight: bold;
  font-family: 'Calibri', sans-serif; 
  font-weight: bold; 
  font-size: 35px;
}
.map {
  display: flex;             /* Użycie Flexbox do wyśrodkowania zawartości */
  justify-content: center;   /* Wyśrodkowanie poziome */
  align-items: center;       /* Wyśrodkowanie pionowe (opcjonalnie, jeśli masz określoną wysokość kontenera) */
}

.map img {
  max-width: 100%;  /* Obraz nie przekroczy szerokości kontenera */
  height: auto;     /* Zachowuje proporcje */
  display: block;   /* Usuwa ewentualne odstępy wokół obrazka */
}

/*
KAFELKI
*/
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #f5f5f5;
  /* Można dodać padding dla całej karuzeli, jeśli chcesz */
  padding: 20px 0;
}

/* Styl dla elementów kafelków */
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  cursor: grab;
}
.carousel:active {
  cursor: grabbing;
}
.tile {
  flex: 0 0 450px; /* Każdy kafelek zajmuje 10% szerokości */
  text-align: center;
  border: 0.8px solid #243751;
  border-radius: 0;
  margin: 40px;
  padding: 50px; /* Równomierny padding wewnątrz kafelka */
  box-shadow: 0 0.8px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.tile a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.tile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 0.8px solid #243751;
}

.tile-info {
  margin-top: 10px; /* Dodatkowy margines między zdjęciem a tekstem */
  text-align: left;
}

.tile-info h3 {
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 35px; /* Zwiększenie rozmiaru czcionki */
  margin: 0;
}

.tile-info .price {
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 30px; /* Zwiększenie rozmiaru czcionki */
  color: #243751;
  text-align: right;
  margin: 4px 0 0; /* Cena poniżej nazwy miasta */
}

/* Przyciski nawigacyjne */
.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;

}

.carousel-nav button {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-nav button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Wskaźniki (kropki) – przykładowo ustawione poniżej karuzeli */
.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.carousel-indicators button {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}

.carousel-indicators button.active {
  background-color: #c00;
}

/*
NEWSLETTER
*/
.newsletter-container {
  background-color: #525B6C;
  color: white;
  padding: 20px;
  width: 90%;
  max-width: 1600px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  margin-bottom: 40px; /* Przykładowy odstęp poniżej */
}

.newsletter-container h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: row; /* Arrange inputs and button in a row */
  gap: 70px; 
  margin-top: 20px;
  justify-content: flex-start; /* Align inputs to the left */
}

.input-group input {
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 2px solid #243751;
  border-radius: 0;
  width: 250px; /* Fixed width for inputs */
  box-sizing: border-box;
  color: black;
  background-color: white;
}

.input-group button {
  font-family: 'Calibri', sans-serif;
  background-color: #C50914;
  color: white;
  font-weight: bold;
  border: 2px solid #243751;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  width: auto; /* Adjust width to content */
}
.input-group button:hover {
  background-color: #a00;
}

.text-info {
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}

.checkbox-container {
  margin-top: 20px;
  text-align: left;
  font-size: 12px;
  color: white;
}

.checkbox-container input {
  margin-right: 10px;
  border: 2px solid #243751;
  accent-color: #243751;
}

.checkbox-container a {
  color: white;
  text-decoration: none;
}
.checkbox-container input {
  margin-right: 10px;
  border: 2px solid #243751;
  accent-color: #243751;
  /* Powiększenie checkboxa o 20% (możesz zmienić wartość) */
  transform: scale(1.2);
  /* Ustawienie transform-origin pozwala na lepsze wyrównanie */
  transform-origin: center;
}
/*
ODKRYJ WIECEJ
*/
.odkryj-wiecej {
  font-family: 'Calibri', sans-serif;
  margin-left: 40px;
  margin-bottom: 50px;
  color:#222745;
}

.odkryj-wiecej h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px; /* Opcjonalnie dla odstępu między nagłówkiem a resztą tekstu */
}

.odkryj-wiecej p {
  font-size: 28px;
  margin: 0;
}

/* RESPONSYWNOŚĆ stopki */
@media only screen and (max-width: 1200px) {
  .footer-container,
  .footer-container.search-bar-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-links a,
  .social-media a{
    font-size: 30px;
  }
  .social-media a img {
    width: 40px;
  }
  .payment-title {
    font-size: 50%;
    
  }
  .social-title {
    font-size: 40px;
  }
  
  .footer-column {
    margin-bottom: 20px;
  }
  .search-bar {
    max-width: 100%;
    
  }
  .input-group {
    flex-direction: column; /* Stack inputs vertically on small screens */
  }

  .input-group input {
      width: 100%; /* Full width on small screens */
      height: 90px;
      font-size: 35px;
  }
  .checkbox-container {
    font-size: 30px;
    font-weight: bold;
  }
  .checkbox-container p{
    font-size: 20px;
  }
  
  .input-group button {
      width: 100%; /* Full width for button on small screens */
      height: 90px;
      font-size: 35px;
  }
  .odkryj-wiecej h2, p {
    font-size: 30px;
    font-weight: bold;
  }
  .checkbox-container input {
    transform: scale(3);
    margin-left: 20px;
  }
  .lang-btn {
    font-size: 40px;
    padding: 10px 20px; /* przykładowe powiększenie paddingu */
  }
}

/* ---------------------------------------
MEDIA QUERIES - WYGLĄD MOBILE
--------------------------------------- */
@media only screen and (max-width: 1200px) {
  .flight-container {
    transform: translate(0%, 0%);
    margin-top: 15%
  }
  .header-with-logo {
      height: auto;
      padding: 10px 0;
  }
  .logo-container {
      position: static;
      margin-left: 10px;
  }
  .logo-container img {
      max-height: 100px;
  }
  .top-bar {
      display: none;
  }
  .main-menu {
      display: none;
  }
  .menu-toggle {
      display: block;
  }
  .logo-container img {
      width: auto;
  }
  .tile {
    flex: 0 0 100%;  /* Jeden kafelek widoczny na ekranie */
    margin: 0;       /* Możesz dostosować margines jeśli chcesz mieć odstęp */
  }

  /* Powiększenie obrazka (opcjonalne) – zapewnienie, że jeden element zajmuje całość */
  .tile img {
    width: 70%;
  }
  
  /* Powiększenie przycisków nawigacyjnych */
  .carousel-container {
    margin: 0 auto;  /* Wyśrodkowanie bez dodatkowych marginesów bocznych */
    padding: 40px 0;
    width: 100%;
    max-width: 100%;
  }

  .carousel {
    /* Ustawiamy szerokość kafelka na 90% szerokości viewportu i centrujemy */
    /* Aby był widoczny tylko jeden kafelek, pozostałe będą po bokach poza ekranem */
    transform: translateX(0);
  }

  .tile {
    flex: 0 0 90%;
    margin: 40px auto;  /* Większe marginesy oraz centrowanie */
    margin-right: 40px;
    border: 2px solid #243751;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tile-info h3 {
    font-size: 80px;
  }

  .tile-info .price {
    font-size: 40px;
    margin-bottom: 90px;
  }

  /* Powiększenie przycisków */
  .carousel-nav button {
    padding: 30px;
    font-size: 30px;
  }

  .bg-section {
  max-width: 900px;
  height: 900px;
  }
  .flight-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Każdy wiersz formularza zajmuje pełną szerokość, zmniejszamy marginesy */
  .flight-form .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  /* Zmiana szerokości kontenerów formularza – uaktywniamy pełną szerokość */
  .flight-form .form-group,
  .flight-form .form-group2,
  .flight-form .form-group3,
  .flight-form .date-pair {
    width: 90%;  /* lub inna wartość, zależnie od potrzeb */
    margin: 0 auto 12px auto;
  }
  .flight-form .passenger-group{
    width: 90%;  /* lub inna wartość, zależnie od potrzeb */
    margin-left: 200px
  }

  /* Powiększenie pól tekstowych oraz select */
  .flight-form input,
  .flight-form select {
    width: 100%;
    height: 90px;     /* zwiększona wysokość */
    font-size: 40px;  /* większa czcionka */
    padding: 10px;
  }

  /* Przycisk wyszukiwania również na pełnej szerokości i większy */
  .search-button {
    width: 100%;
    height: 9cqb;
    font-size: 40px;
    padding: 10px;
  }

  /* W przypadku selectów w grupie pasażerów – dostosowanie rozmiaru */
  .small-select {
    height: 60px !important;
    width: 60px !important;
    margin-left: 30px;
    font-size: 20px !important;
  }

  /* Opcjonalnie: Dostosowanie etykiety przed selectem „Ilość pasażerów” */
  .passenger-group label {
    font-size: 30px;
    margin-bottom: 10px;
  }

  /* Jeśli potrzebne – zmniejszenie odstępów nagłówka formularza */
  .flight-container .header-title {
    font-size: 30px;
    padding: 10px;
    width: 50%;
    left: 25%;
  }
  .form-half {
    width: 50%;
    height: 90px;
  }
  
  .form-half input {
    height: 90px;
    font-size: 30px;
    
  }
  .line-container {
    margin: 110px 0;
  }
  .checkbox-container p
  {
    font-size: 17px;
    color: white;
  }
}
