/* --------------------------------------------------
  Potwierdz dane
  -------------------------------------------------- */  
    .container {
        max-width: 70%;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .section {
        margin-bottom: 30px;
    }
    .section-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .info-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 20px;
        margin-right: 165px;
    }
    .info-table th,
    .info-table td {
        padding: 4px 40px; 
        text-align: left;
    }
    .info-table th {
        width: 30%;
        font-weight: bold;
    }
    .plan {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        border: 3px solid #243751;
        padding: 15px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .plan-details {
        display: flex;
        flex-wrap: wrap;
        width: 75%; 
        gap: 20px; 
    }
    .plan-details div {
        width: 30%; 
        font-size: 20px;
    }
    .price {
        width: 20%; 
        text-align: right; 
        font-size: 26px;
        font-weight: bold;
        color: #333;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .total-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #243751; 
        color: #fff; 
        padding: 15px 20px; 
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }
    .total-section .total {
        margin: 0;
    }
    .total-section .confirm-button {
        background-color: #C50914; 
        color: #fff;
        border: 3px solid #243751;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border: none;
        cursor: pointer;
    }
    .total-section .confirm-button:hover {
        opacity: 0.9; 
    }
    .edytuj {
        font-size: 20px;
        text-align: center;
        display: block;
        margin: 20px auto; 
        text-decoration: underline;
        color: #243751;
    }
    
    
     
 
/* ---------------------------------------
MEDIA QUERIES - WYGLĄD TABLET
--------------------------------------- */

@media (max-width: 1200px) and (min-width: 761px){
    .container input, .container button {
        flex: none; 
        text-align: center;
        height: 50px; 
        font-size: 15px; 
        padding: 10px; 
        border: 2px solid #243751;
        width: 24%; 
    }
    h1 {
        font-size: 22px !important;
    }
    .section-title {
        font-size: 22px;
    }
    .info-table {
        margin: 0 auto; 
        text-align: left; 
        font-size: 17px;
        width: 90%; 
    }

    .plan-details div {
        font-size: 15px; 
        margin-bottom: 5px; 
        width: 25%;
    }
    .price {
        width: 30%; 

        margin-top: 10px; 
        font-size: 20px;
    }
    .container {
        min-width: 90% !important;
    }
    .price {
  
      font-size: 17px;
    }
    
  }
  
  /* ---------------------------------------
  MEDIA QUERIES - WYGLĄD MOBILE
  --------------------------------------- */
  @media (max-width: 760px) {
    .container {
        min-width: 90% !important;
    }
    .section > div {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }
    .plan {
        flex-direction: column; 
        align-items: flex-start; 
        text-align: left; 
    }

    .plan-details {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .price {
        width: 100%; 
        text-align: right; 
    }
    h1 {
        font-size: 17px !important;
    }
    .section-title {
        font-size: 24px;
    }
    .info-table {
        margin: 0 auto; 
        text-align: left; 
        width: 90%; 
        font-size: 17px;
    }
    .info-table th {
        padding: 10px;
    }

    .plan-details div {
        font-size: 12px; 
        margin-bottom: 5px; 
        width: 25%;
    }
    .price {
        width: 100%; 
        text-align: center; 
        margin-top: 10px; 
        font-size: 20px;
    }

    .total-section {
        background-color: #243751; 
        color: #fff; 
        padding: 15px 20px; 
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
       
    }
    .total-section .total {
        margin: 0;
    }
    .total-section .confirm-button {
        padding: 10px 5px;
        font-size: 14px;
        font-weight: bold;
    }
    
  }
  
