body {
    font-family: Calibri, sans-serif !important;
    font-weight: bold;
    background-color: #fff !important;
    color: #243751 !important;
    overflow-x: hidden !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  
  }
  
  /* --------------------------------------------------
  MIEJSCA
  -------------------------------------------------- */
  .background-wrapper {
    position: relative;       
    width: 100vw;             
    max-width: 100%;         
    overflow: hidden;         
    margin: 0 auto;          
    z-index: 0;               
  }
  .background-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 1300px;
    background-image: url("img/seat_map.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1; 
  }

  .content-wrapper {
      z-index: 1;
      position: relative; 
      width: 100%; 
      min-height: 1320px; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      padding-top: 100px; 
  }
  .class-section.first-class {
      display: flex;
      flex-direction: column;
      gap: 15px; 
      margin-top: 80px; 
  }
  .row {
      display: flex;
      justify-content: center; 
      gap: 10px; 
  }
  .economy-class .row {
      gap: 3px !important;
      margin-bottom: 5px;
  }

  .row button {
      padding: 8px 10px; 
      font-size: 14px; 
      border: 1px solid #000;
      background-color: #f0f0f0; 
      border-radius: 5px; 
      cursor: pointer; 
  }

  .class-section.economy-class {
      margin-top: 100px;
  }
  .economy-row .spacer {
      width: 4px; 
      height: auto; 
  }

  .economy-class .row button {
      width: 15px; 
      height: 20px; 
      font-size: 8px; 
      padding: 0px;
      border-radius: 3px; 
    
  }
  .economy-class {
      margin-top: 130px;
  }
  .row-break {
      height: 60px; 
      width: 100%;
  }
  .row button.occupied {
      background-color: red;
      cursor: not-allowed;
    }

  .row button.selected {
    background-color: green;
  }

  .row button:not(.occupied):not(.selected):hover {
    background-color: lightgray;
  }
  main.content h1{
    margin-bottom: 20px;
  }
  
  main.content h1{
    text-align: left;
  }

  main.content h1 {
    font-size: 50px;
  }

  main.content h2 {
    font-size: 35px;
  }
    
  main.content p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
  }
    
  
  main.content {
      padding-left: 120px;
      padding-right: 120px;
  }
    
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-top: 40px;
  }
  
  .line-right {
    flex-grow: 3; 
    height: 6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #243751;
  
    margin-left: 10px; 
  }
  
  .text-linia {
    color: #243751;
    font-weight: bold;
    font-family: 'Calibri', sans-serif; 
    font-weight: bold; 
    font-size: 35px;
  }

  #legend {
    font-size: 23px !important;
    position: absolute; 
    top: 300px; 
    right: 12%;
  }
  #legend li {
    list-style: none;
  }
  h3 {
    font-size: 23px;
  }

  .info-section {
    text-align: right;
    padding: 20px;
    
  }
  
  .info-section p {
    font-size: 18px; 
    color: #243751;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .confirm-button {
    display: inline-block;
    background-color: #d32f2f; 
    color: #fff; 
    font-size: 20px;
    padding: 10px 20px;
    border: none; 
    border: 2px solid #243751;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-button:hover {
    background-color: #b71c1c; 
  }
  .extra{
    font-size: 15px !important;
  }
  .baggage-container {
    background: #f5f5f5;
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin: 0 auto; 
}

  .baggage-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .baggage-header h2 {
      font-size: 20px;
      color: #333;
      margin: 0;
  }

  .baggage-header .counter {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .counter button {
      background-color: #243751;
      color: white;
      border: none;
      padding: 10px 15px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
  }

  .counter button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
  }

  .counter span {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      width: 40px;
      text-align: center;
  }

  .baggage-info {
      font-size: 14px;
      color: #555;
      line-height: 1.6;
      margin-bottom: 20px;
      margin-left: 1%;
  }

  .extra-info {
      font-size: 12px;
      color: #777;
      margin-top: 20px;
      text-align: center !important;
  }

  .passenger-label {
      font-size: 16px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
  }
  .price-container {
      display: flex;
      align-items: center;      
      justify-content: space-between; 
      background-color: #4A5568;
      color: white;
      padding: 10px 15px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      margin-bottom: 30px;
  }
  .button-group {
      display: flex;
      align-items: center; 
      gap: 20px;          
  }
    
  .price-container h2 {
    font-weight: bold;
    padding: 20px;
    padding-left: 30px;
    color: #ffffff;
  }

  .price-value {
    font-weight: bold;
    margin-left: 5px;
  }

  .aboard {
    background-color: #C53030; 
    color: white;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #243751;
  }

  .return-button, .price-container button {
      background-color: #C53030; 
      color: white;
      padding: 8px 12px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid #243751;
  }
  .price-container h2 {
      flex-grow: 0; 
      margin-right: 10px; 
  }
  

/* ---------------------------------------
MEDIA QUERIES - WYGLĄD TABLET
--------------------------------------- */

@media (max-width: 1200px) and (min-width: 761px){
    .class-section.first-class {
    
        margin-top: 80px;
    }

    #legend {
      font-size: 20px !important;
      position: absolute; 
      top: 400px; 
      right: 4%;
    }
   .baggage-header h2{
    font-size: 24px !important;
   }
   .baggage-info {
    font-size: 15px !important;
   }
   .price-container h2 {
    font-size: 15px !important;
    padding: 4px;
    margin-right: 8px;
  }
  .return-button, .price-container button {
    background-color: #C53030; 
    color: white;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 17px;
    margin-right: 10%;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #243751; 
  }
  
  .return-button:hover, .price-container button {
    background-color: rgb(114, 18, 18); 
  }

}
  /* ---------------------------------------
  MEDIA QUERIES - WYGLĄD MOBILE
  --------------------------------------- */
  @media (max-width: 760px) {
    main.content {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    main.content h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    main.content h3 {
      font-size: 20px; 
      
  }
    .line-container {
        margin: 10px 0;
    
      }
    .text-linia {
        font-size: 20px;
    }
    .background-container {
        top: 180px; 
    }
    .class-section.first-class {
        display: flex;
        flex-direction: column;
        gap: 15px; 
        margin-top: 265px; 
    }
    #legend {
        font-size: 14px !important;
        position: absolute; 
        top: 400px; 
        right: 4%;
      }
      
    .content-wrapper {
   
    min-height: 1500px; 
   
    }
    .price-container h2 {
        font-size: 15px !important;
        padding: 4px;
        margin-right: 8px;
      }
    .return-button, .price-container button {
      background-color: #C53030; 
      color: white;
      padding: 4px 6px;
      cursor: pointer;
      font-size: 17px;
      margin-right: 10%;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid #243751; 
    }
    .aboard {
      background-color: #C53030;
      color: white;
      padding: 4px 6px;
      font-size: 10px;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid #243751;
  }
    
    
    .baggage-header h2{
      font-size: 17px !important;
      }
      .baggage-info {
      font-size: 14px !important;
      }
      .price-container h2 {
      font-size: 12px !important;
      padding: 4px;
      margin-right: 8px;
    }
}

